# System files
.DS_Store

# DATABASE FILES
*.db
*.sqlite
*.sqlite3
storage/

# DATA FILES
csv_data/

# Virtual environments
.venv/
env/
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

__init__.py